@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Lato.eot);
  src: local('Lato'), local('Lato Regular'), local('Lato-Regular'), url(../fonts/Lato.eot?#iefix) format('embedded-opentype'), url(../fonts/Lato.woff2) format('woff2'), url(../fonts/Lato.woff) format('woff'), url(../fonts/Lato.ttf) format('truetype'), url(../fonts/Lato.svg#Lato) format('svg');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/Lato-Bold.woff2) format('woff2'), url(../fonts/Lato-Bold.woff) format('woff'), url(../fonts/Lato-Bold.ttf) format('truetype');
}

