@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Montserrat.eot);
  src: local('Montserrat'), local('Montserrat-Regular'), url(../fonts/Montserrat.eot?#iefix) format('embedded-opentype'), url(../fonts/Montserrat.woff2) format('woff2'), url(../fonts/Montserrat.ttf) format('truetype'), url(../fonts/Montserrat.svg#Montserrat) format('svg'), url(../fonts/Montserrat.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(../fonts/Montserrat-Bold.woff2) format('woff2'), url(../fonts/Montserrat-Bold.ttf) format('truetype'), url(../fonts/Montserrat-Bold.woff) format('woff');
}

